.background-login {
  justify-content: center;
  align-items: center;
  background-color: aliceblue  !important;

}

.login-container {
  width: 900px;
  height: 600px;
  padding: 30px;
  background-color: #000000e3; /* fallback */
  border: #ffffff  1px solid;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.628);

}

.input-custom {
  width: 100%;
  color: aliceblue;
  background: #333;
  border: none;
  border-radius: 8px;
  padding: 12px;   
  box-sizing: border-box;
  display: block;   
}

.boton-inicio-sesion {
  background-color: #ffffff !important;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-weight: bold;
  color: #000 !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-inicio-sesion:hover {
  background-color: #c8102e !important;
  color: #fffafa !important;
}